.signup-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    font-weight: bold;
  }
  
  .input-container input[type="text"],
  .input-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .interests-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .interests {
    display: flex;
    flex-wrap: wrap;
  }
  
  .interests button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .interests button.selected {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .signup-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  